@model Nop.Web.Models.Common.UploadModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    @Html.EditorFor(model=>model.Id)
    <input type="submit" value="Process" />
}
