<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IIISConfigurer" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/ETFIISConfigurator/service"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IIISConfigurer"
                contract="IISConfigurerServiceClient.IIISConfigurer" name="NetNamedPipeBinding_IIISConfigurer">
                <identity>
                    <servicePrincipalName value="host/Konstantin-pk" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>