@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic-ext);

body                    {background: url("../images/dark/bg.png") repeat; font-family: roboto slab, arial, sans-serif;}
a                       {color: #ea2e49;}

.header                 {background: url("../images/dark/header.png") repeat-x; height: 88px; }
.header .logo           {margin-top: 17px;}

.box                    { border-radius: 10px 10px 10px 10px; overflow: hidden;box-shadow: 2px 2px 5px -2px #000; border: 1px solid #E92E48; padding: 0; height: auto; background: none repeat scroll 0 0 #FFF; }
.box h2                 {color: #f6f792 !important; width: 100% !important; font-size: 20px !important; margin: 8px 4px; }
.box .littleSeeAll      {position:relative; color: #ea2e49 !important; width: auto !important; border: 0; margin: 0 14px; font-size: 12px; margin-left: 19px; }
.box > .boxHead         {border-radius: 10px 10px 0 0;background: ; border: none; height: 97px; }
.box > .boxBody         {border-radius: 0 0 10px 10px; width: 100%; position: static; height: 100%; padding-bottom: 0; }
.boxHead                {background: url("../images/dark/head.png") repeat-x; height: 97px; border-radius: 10px 10px 0 0 ;}

.header-links           {margin: 28px 0 0 39px !important; }
.header-links a         {color: #FFF; font-size: 16px; font-family: roboto slab,arial,sans-serif; text-decoration: none;font-weight: 200; }
.header-links a:hover   {color: #FFF; font-size: 16px; font-family: roboto slab, arial, sans-serif;}

.language-selector      {border-radius: 10px; padding-left: 5px; padding-bottom: 1px; background-color: #3a4154; MARGIN: 23px 0; }
.language-selector >a    {font-style: italic; font-family: arial; }
.language-selector .otherLang   {background: none; color: #FFF;}
.language-selector .otherLang a   {background-color: #3A4154; color: #FFF; width: 95%;MARGIN-LEFT: 5%; }
.language-selector .otherLang a:hover   {background-color: #5A6174; color: #FFF; }

.mainSlider                     {border: 1px solid #E92E48; border-radius: 11px;box-shadow: 1px 1px 4px 0px #000; overflow: hidden; height: 554px; margin-top: -5px; }
.nivoSlider                     {border-radius: 9px; overflow: hidden; margin-top: 0; }
.nivoSlider a                   {font-size: 24px !important; color: #FFF !important ;}
.nivoSlider a.nivo-imageLink    {}
.theme-default .nivo-caption    {background: #b65757; border: 1px solid #c37f7b; border-radius: 5px 0 0 5px; min-height: 65px; margin-top: 4px !important;left: auto; right: 0; padding-right: 40px; bottom: 60px; width: auto; min-width: 160px; }
.theme-default .nivo-caption div{margin-top: 8px;font-size: 12px; font-style: italic; color: #F6F792; }

.layout2-2 .mainSlider          {height: 270px !important;}
.layout2-2 .tabCatalog          {margin-left: 16px !important; margin-right: 0 !important;margin-top: -4px; height: 270px; }


.recentlyAdded .goodCaption     {word-wrap: break-word;font-size: 12px; margin-top: 0px; margin-bottom: 5px; }

.LatesNews .news                {}

.tabsMenu                       {background: url("../images/dark/head.png") repeat-x; height: 98px; margin-bottom: -1px; border-radius: 10px 10px 0 0; }
.tabCatalog                     {margin-right: 16px !important ;}

.layout2-2 .recentlyAdded .goodBox         {margin: 22px 13px; width: 104px !important; }
.goodLink                       {color: #EA2E49 !important;}

.tabCatalog .tabsMenu ul li a                       {color: #d3eee2; border-bottom: 1px dotted #D3EEE2;  font-family: arial,sans-serif; font-size: 20px; margin-bottom: 6px; }
.tabCatalog .tabsMenu ul li.ui-tabs-active a        {color: #f6f792; border: 0; }
.tabCatalog .tabsMenu ul li a:hover                 {color: #FFF !important;  }
.tabCatalog .tabsMenu ul li.sep                     {color: #f6f792; }
.tabCatalog .redRibbon                              {left: 21px; font-size: 12px; top: 53px; color: #EA2E49; float: left; clear: both; position: absolute; border-bottom: none; text-align: left;border: none; }
.tabCatalog .redRibbon a                            {font-size: 12px; color: #EA2E49;position:relative; }

.border-line                                        {display: none;}
.tabCat li a                                        {color: #ea2e49;}
.tabCat li a:hover                                  {color: #ea2e49;}
.tabCat li h3 a                                     {color: #222222;}
.tabCat li h3 a:hover                               {color: #222222;}

.newsHeadline                                       {color: #ea2e49;}
.newsHeadline:hover                                 {color: #ea2e49; text-decoration: underline;}
.LatesNews .news .imgNews .newsDate                 {font-style: italic;font-weight: normal; }

.productPicture                                     {height: 100px;}

.footer                                             {background: url(../images/dark/footer.png) repeat-x; box-shadow: none; height: 78px; }
.footer-menu                                        {color: #d3eee2;}
.footer-menu a                                      {color: #d3eee2;font-family: roboto, arial, sans-serif; font-size: 12px; }
.footer-menu a:hover                                {color: #FFF;}

.footer .fline a                                    {color: #d3eee2;font-family: roboto, arial, sans-serif; font-size: 12px; font-weight: normal; float: right; text-decoration: underline; }
.footer .fline a:hover                              {color: #FFF;}
.footer .fline span                                 {color: #d3eee2;}

.layout1-3 .recentlyAdded .slideGoods               {margin-left: 35px ;}
.layout1-3 .arrPrev                                 {top: 0 !important; margin: 188px 5px 0 !important;}
.layout1-3 .arrNext                                 {top: 0 !important; margin: 188px 5px 0 !important;}
.recentlyAdded .goods                               {margin-left: 12px;}
.recentlyAdded .arrPrev                             {background: url(../images/dark/arrowPrev.png) no-repeat;margin: 195px 5px 0; height: 15px; width: 7px; top: 0; }
.recentlyAdded .arrNext                             {background: url(../images/dark/arrowNext.png) no-repeat;margin: 45px 5px; height: 15px; width: 7px; }


.layout1-3 .box                     {}
.tabCatalog .tabsMenu ul            {border: none;}


.master-wrapper-whiteboard          {background: #FFF; border-radius: 10px; border: 1px solid #E92E48 !important; box-shadow: none !important;padding: 0; width: 940px !important; padding-bottom: 20px; }
.ribCategories                      {background: url("../images/dark/rightBg.png") repeat scroll 0 0 transparent; border: 1px solid #E92E48; border-radius: 0 10px 0 10px; float: left; margin-bottom: 63px; padding-top: 1px; position: relative;top: -1px;width: 300px; right: 1px;}
.ribCategories h1                   {color: #f6f792; font-family: roboto slab, sans-serif; font-size: 20px; text-decoration: none;font-weight: normal; }
.rightSide button                   {background: url(../images/dark/btn.png) repeat-x; height: 44px; line-height: 44px; color: #f6f792; font-family: roboto slab, arial, sans-serif; font-size: 14px; text-transform: uppercase;margin-top: -10px; border-radius: 13px; margin-bottom: 25px; }
.rightSide                          {float: right !important; margin: 0 0 0 10px; width: 300px;}



.leftSide .breadcrumb .head                     {background: none repeat scroll 0 0 transparent !important; color: #000;}
.leftSide .breadcrumb .tail                     {background: none repeat scroll 0 0 transparent !important; color: #000;}
.leftSide .breadcrumb li::after                 {content: ">"; position: relative; left: 3px; line-height: 27px;}
.leftSide .breadcrumb li:last-child:after       {content: "";}
.leftSide .breadcrumb a                         {background: none !important; width: auto; min-width: 0;}
.cat a                                          {color: #ea2e49;}
.cat li:last-child a                            {color: #333745; text-decoration: none;}

.leftSide .breadcrumb li            {margin-left: 3px;margin-bottom:0px;}
.leftSide .breadcrumb  .tail        {background:none repeat scroll 0 0 transparent;}

.leftSide h1                        {font-family: roboto slab, roboto, arial, sans-serif; font-size: 36px; font-weight: normal;text-transform: capitalize; margin-left: 40px;}
.leftSide .box                      {margin-left: 40px; border: 0;box-shadow: none; }

.catalogue                          {}
.catalogue .itemBoxHeading          {border:0px;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2a303e', endColorstr = '#1c2029');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2a303e', endColorstr = '#1c2029')";
background-image: -moz-linear-gradient(top, #2a303e, #1c2029);
background-image: -ms-linear-gradient(top, #2a303e, #1c2029);
background-image: -o-linear-gradient(top, #2a303e, #1c2029);
background-image: -webkit-gradient(linear, center top, center bottom, from(#2a303e), to(#1c2029));
background-image: -webkit-linear-gradient(top, #2a303e, #1c2029);
background-image: linear-gradient(top, #2a303e, #1c2029);
max-height: 95px; padding-left: 249px; margin-left: -209px; margin-top: -1px;padding-bottom:5px;padding-right:15px;}
.catalogue .itemImage               {left: 0; border: 1px solid #EA2E49; border-radius: 10px; top: 0; float: left; margin: 16px;overflow:hidden; }
.catalogue .itemBoxOuter            {border: 0; margin: 0;}
.catalogue .itemBoxOuterWrap        { border: 1px solid #ea2e49; position: relative; left: -1px; border-radius: 0 13px 13px 0; overflow: hidden; }
.catalogue .cornerLeftBig           {display: none;}
.catalogue .itemBoxHeading h3       {margin-bottom:5px;}
.catalogue .itemBoxHeading p        {}
.catalogue .itemBoxInner            {padding-left: 40px; }
.catalogue .itemBoxInner p          {font-weight: lighter; font-family: roboto, arial, sans-serif; font-size: 13px; }
.catalogue a.itemView               {background: url(../images/dark/viewInfo.png) repeat !important; height: 24px; border-radius: 15px;line-height: 24px; color: #FFFFFF; font-weight: lighter; margin: 3px; font-size: 14px; font-family: roboto, arial, sans-serif; }
.catalogue .itemBoxHeading h3 a     {color: #f6f792; font-family: roboto slab, sans-serif; font-size: 20px; text-decoration: none;}
.catalogue .itemBoxHeading a        {color: #ffffff; font-size: 14px; text-decoration: none; font-weight: lighter;}

.rightSide .banners img             {border: 1px solid #E92E48; border-radius: 10px 0 0 10px;}

.cusel                              {border: 1px solid #E92E48; border-radius: 10px; background: url(../images/dark/bg.png) repeat;color: #FFF; }

.navBox a                           {color: #ea2e49;}
.navBox .active                     {background: none !important;}
.navCentered ul .nextPage           {background: none !important;}
.navCentered ul .prevPage           {background: none !important;}

.layout1-3 .box, .layout1-1-2 .box, .layout2-2 .box   {background: #E92E48;}

.contactus .rightSide .box          {border: 1px solid #e92e48; box-shadow: none;float: right; padding: 21px; right: -1px; border-radius: 10px 0 0 10px; }
.contactus .contactsForm            {border: none;}
.contactsForm label span            {color: #ea2e49;}
.contactus .leftSide                {width: 545px;}

.contactsButton input               {background: url(../images/dark/btn.png) repeat-x; height: 44px; line-height: 44px; color: #f6f792; font-family: roboto slab, arial, sans-serif; font-size: 14px; text-transform: uppercase;margin-top: 0; border-radius: 13px; }

.itemSingle .leftSide               {width: 585px;}

.textInfo                           {font-family: roboto,arial,sans-serif; }
.textInfo h3                        {font-family: roboto slab, roboto, arial, sans-serif; color: #ea2e49; font-size: 24px;}

.itemSingle .gallery .thumbnails .galleryImage.current {border: 1px solid #E92E48;}
.itemSingle .bigImg                 {border: 2px solid #E92E48;width: 99%; }

.goodInfo                           {width: 214px !important;margin-top: -10px  !important; }
.goodInfo li                        {line-height: 20px !important; font-size: 13px !important; min-height: 20px !important; }
.goodInfo li:nth-last-child(2)      {margin: 10px 0;}
.goodInfo label                     {font-size: 16px; float: left;  margin-top: 10px; }
.boxHead .itemName                  {float: left; color: #e92e48 !important; ; margin-top: -7px; margin-left: -5px;font-size: 16px; }
.boxHead .share                     {margin-left: -5px;margin-top: -6px; }
.itemSingle .leftSide h1            {margin-bottom: -15px;}

.bucks          {color: #ea2e49;}
.icoPDF         {color: #ea2e49;}

.itemSingle .gallery                {}
.itemSingle .keywords a             {COLOR: #E92E48;}

.contactsForm textarea              {border-color: #6dbcdb;overflow:auto;}
.contactsForm input                 {border-color: #6dbcdb !important;}

.goBack a, .eventsSingle .goBack a  {background: none;color: #E92E48; }
.newsHeading                        {background: none repeat scroll 0 0 #E92E48;}
.newsSingle .newsBoxOuter           {border: 1px solid #E92E48; left: -1px; position: relative;}
.newsHeading .left                  {color: #FFF;}
.newsHeading .right                 {color: #FFF;}
.newsSingle .aboutBlockOuter        {padding-left: 40px;}
.newsHeadingInner                   {background: none repeat scroll 0 0 #E92E48;border-radius: 0 13px 13px 0; }
.newsHeadingInner a                 {color: #FFF;}

.newsView                           {background: url("../images/dark/viewInfo.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    font-family: roboto,arial,sans-serif;
    font-size: 14px;
    font-weight: lighter;
    height: 24px;
    line-height: 24px;
    margin: 3px;}

a.newsView:hover{color:#ffffff;}
.newsBoxOuter                       {border: 1px solid #E92E48;border-radius: 0 13px 13px 0; overflow: hidden; }

.newsHeadingInner h3{
    color: #FFFFFF;
    font-family: Intro,arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.zoomWindowContainer div{
z-index:1000 !important; 
}


.box .littleSeeAll:hover{
  color: #ea2e49;
}


.itemSingle .box > .boxHead{
height:auto;
}

.leftSide h1{
  width:auto;
}

.littleSeeAll span, .tabCatalog .redRibbon a span {
  font-size: 11px;
  position: absolute;
  right: -10px;
  text-decoration: none;
}

.newsSingle.leftSide h1{
  width:538px;
  font-size:30px;
}

.itemSingle .box .boxHead{
  height:auto;
}

.tabCatalog .redRibbon a span{
  top:-7px;
}

.box .boxHead h2,h1, h2, h3, h4, h5, h6, .LatesNews .news .newsHeadline, .tabCatalog .tabsMenu ul li a, .nivoSlider a{
  font-family: Roboto Slab, arial, sans-serif !important;
}

.master-wrapper-main, .textInfo, .recentlyAdded .goodCaption, .LatesNews .news .imgNews .newsDate{
  font-family: Tahoma, arial, sans-serif !important;
}

.box .boxHead h2{
  font-weight:normal;
}

.catalogue .itemBoxHeading h3 {
  max-height: 39px;
  overflow: hidden;
  padding-bottom: 5px;
}

.cat li.last {
  color: #333745;
  font-size: 12px;
  font-weight: normal;
  line-height: 27px;
  padding-left: 13px;
  text-transform: none;
}

.itemSingle .icoPDF{
  text-align:left;
  padding-left:20px;
}

.leftSide .breadcrumb.cat li a.rootLink{
  text-decoration:underline;
  color:#EA2E49;
}

.itemImage + .itemBoxOuter .itemBoxHeading {
    left: -200px;
    margin-left: 0;
    padding-left: 220px;
}

.itemImage + .itemBoxOuter .itemBoxInner{
  padding-left:220px;
}



.master-wrapper-main .master-wrapper-whiteboard .leftSide .p40{
  font-size:14px;
  line-height: 20px;
}


.master-wrapper-main .master-wrapper-whiteboard .leftSide .p40 h2{
  color:#f17384 !important;
  margin:0px;
}