@model IList<RegisteredCustomerReportLineModel>
@using Telerik.Web.Mvc;
@using Telerik.Web.Mvc.UI
<h2>@T("Admin.Statistic.Customer")</h2>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid(Model)
                .Name("registered-customers-grid")
                .Columns(columns =>
                {
                    columns.Bound(x => x.Period);
                    columns.Bound(x => x.Sellers).Width(100);
                    columns.Bound(x => x.Buyers).Width(100);
                })
                .DataBinding(dataBinding => dataBinding.Ajax().Select("ReportRegisteredCustomersList", "Customer"))
                .EnableCustomBinding(true))
        </td>
    </tr>
</table>
