@model Nop.Web.Models.SellerCatalog.CategorySelectorModel
<ul class="categoryCrumbs">

    <li class="dark categories active" id="category-0">
        <label>&nbsp;</label>
        <select name="@Html.Raw("EditCategories-0")" onchange="OnFirstCategoryChange" id="EditCategories-0">
            <option value="0">@T("Profile.Catalog.SelectCategory")</option>
            @foreach (var category in Model.Categories[0].Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <div class="arrow"></div>
    </li>

</ul>
<script>
    function OnFirstCategoryChange(e) {        
        if (e.val() == '0') {
            e.parents('.categories').nextAll('.categories').remove();
            return;
        }
        if ($('#save-product-button').length > 0) {
            $('#save-product-button').prop("disabled", true);
        }
        $.ajax({
            url: "/BuyingRequest/GetSubCategories",
            type: "POST",
            dataType: "json",
            data: { categoryId: e.val(), IsForAddProduct: 1, NumberInRow: 1 },
            success: function (resp) {
                if (resp.subCategories) {
                    startString = '<li class="categories inactive ';
                    if (resp.lavel > 1) { startString += 'light"'; } else { startString += 'dark"'; }
                    $('.categories').filter('#category-' + (resp.lavel - 1)).nextAll('.categories').remove();
                    $('.categories.inactive').removeClass('inactive').addClass('active');
                    $('.categories.active:last').after(startString + ' id=category-' + resp.lavel + '></li>');
                    $('.categories.inactive').html(resp.htmlString);                   
                    setaddproductcategoryselector_isfinalcategory(false);
                    $('.slOpener').hide();
                } else {
                    $('.categories').filter('#category-' + (resp.lavel - 1)).nextAll('.categories').remove();
                    $('.categories.inactive').removeClass('inactive').addClass('active');                    
                    setaddproductcategoryselector_isfinalcategory(true);
                    if (resp.haveConversionImages) {
                        $('.slOpener').show();
                        $.ajax({
                            url: "/BuyingRequest/GetConversionImagesOfCategory",
                            type: "POST",
                            dataType: "json",
                            data: { categoryId: e.val() },
                            success: function (resp_image) {
                                $('#slider-container').html(resp_image.html).waitForImages(function () {
                                    $("#popSlider").css({ display: "block", visibility: "hidden" });
                                    var mh = 0;
                                    setTimeout(function () {
                                        mh = 0
                                        $("#popSlider img").each(function () {
                                            mh = Math.max(mh, $(this).height());
                                        });

                                        if (mh != 0) {
                                            $("#popSlider").css("height", mh + "px");
                                            $("#popSlider .slider").css("height", mh + "px");
                                        }
                                        $("#popSlider").css({ display: "none", visibility: "visible" });
                                        $("#popSlider .prev").css({ top: $(window).height() / 2 + "px" });
                                        $("#popSlider .next").css({ top: $(window).height() / 2 + "px" });
                                    }, 1);

                                    mh = "3000";
                                    $("#popSlider").css("height", mh + "px");
                                    $("#popSlider .slider").diyslider({
                                        width: "3000px", // width of the slider
                                        height: mh + "px", // height of the slider
                                        display: 1, // number of slides you want it to display at once
                                        loop: true // disable looping on slides
                                    }); // this is all you need!

                                    // use buttons to change slide
                                    $("#popSlider .prev").bind("click", function () {
                                        $("#popSlider .slider").diyslider("move", "back");
                                        return false;
                                    });
                                    $("#popSlider .next").bind("click", function () {
                                        $("#popSlider .slider").diyslider("move", "forth");
                                        return false;
                                    });
                                    $("body").css("cursor", "auto");
                                });
                            }
                        });
                    } else {
                        $('.slOpener').hide();
                    }
                }
                $('#SelectedCategoryId').val(e.val()).trigger('change');
                $('#save-product-button').prop("disabled",false);
            }
        });
       
    }
    $(document).ready(function () {
        var params = {
            changedEl: "select",
            scrollArrows: true
        }
        cuSel(params);
        document.getElementById("EditCategories-0").onchange = function () {
            OnFirstCategoryChange($(this));
        };
    });
</script>
